<div class="screenHeader2" ng-controller="MenuItemController" ng-cloak>
    <div class="row">
        <!--Menu Item Columns Start Here-->
        <div class="col-md-9 menuItemContainer">
            <div class="panel">
                <div class="row">
                    <div class="col-md-12">
                        <div id="wrap">
                            <input id="search" name="search" type="text" placeholder="What're we looking for ?" ng-model="query.name"><input id="search_submit" value="Rechercher" type="reset">
                        </div>
                    </div>
                </div>
            </div>

            <div ng-repeat="category in categories | orderBy:'order' | filter:query.name">
                <div ng-if="!category.subCategories" class="panel">
                    <!--Category Name Starts Here-->
                    <div class="panel-heading categoryHeading">
                        <h3 class="panel-title">{{category.name}}</h3>
                    </div>
                    <!--Category Name Ends Here-->
                    <!--Menu Item List Starts Here-->
                    <div class="panel-body menuItemName" ng-repeat="menuItem in category.menuItems">
                        <div class="row">
                            <div class="col-md-10">
                                <span><img ng-src = "{{menuItem.isVeg && '../../../../assets/images/veg.png' || '../../../../assets/images/non-veg.png'}}"/></span> {{menuItem.name}}
                            </div>
                            <div class="col-md-2">
                                &#8377;&nbsp;{{menuItem.price}}
                                <span ng-click="customiseDish(menuItem.Id)" class="glyphicon glyphicon-plus pull-right"></span>
                            </div>
                        </div>
                    </div>
                    <!--Menu Item List Ends Here-->
                </div>
                <div ng-if="category.subCategories" ng-repeat="subCategory in category.subCategories | orderBy:'order'" class="panel">
                    <!--Sub Category Name Starts Here-->
                    <div class="panel-heading categoryHeading">
                        <h3 class="panel-title">{{subCategory.categoryName}}</h3>
                    </div>
                    <!--Sub Category Name Ends Here-->
                    <!--Menu Item List Starts Here-->
                    <div ng-repeat="menuCategory in menuItems">
                        <div ng-if="subCategory.Id == menuCategory.categoryId" ng-repeat="menuItem in menuCategory.menuItems" class="panel-body menuItemName">
                            <div class="row">
                                <div class="col-md-10">
                                    <span><img ng-src = "{{menuItem.isVeg && '../../../../assets/images/veg.png' || '../../../../assets/images/non-veg.png'}}"/></span> {{menuItem.name}}
                                </div>
                                <div class="col-md-2">
                                    &#8377;&nbsp;{{menuItem.price}}
                                    <span ng-click="customiseDish(menuItem.Id)" class="glyphicon glyphicon-plus pull-right"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Menu Item List Ends Here-->
                </div>
            </div>
        </div>
        <!--Menu Item Columns End Here-->
    </div>
    <div ng-bind-html="categoryFunct()"></div>
</div>