<div class="screenHeader2">
    <div ng-controller="OrderTrackerController" ng-cloak>
        <!--row starts here-->
        <div class="row contentRow">
            <!--column one starts here-->
            <div class="col-md-5 col-sm-5 col-xs-12 Wrapper_Main">
                <div class="row">
                    <!-- cart starts -->
                    <div class="col-sm-12">
                        <div class="cartInnerWrapper">
                            <div class="row firstCartSection">
                                <div class="col-md-6 col-sm-6">
                                    <div class="cartTitle">Your Order</div>
                                </div>
                                <div class="col-md-6 col-sm-6 text-right">
                                    <div id="wrap">
                                        <input id="search" name="search" type="text" placeholder="Search for a dish..." ng-model="query.name">
                                        <input id="search_submit" value="Rechercher" type="reset">
                                    </div>
                                </div>
                            </div>
                            <hr class="cartHr">
                            <div class="row secondCartSection">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="cartItemWrapper" ng-repeat="(key, value) in cartItems">
                                                <div class="row cartItem">
                                                    <div class="col-md-12">
                                                        <div class="row cartItemName">
                                                            <div class="col-md-12">{{value.name}}</div>
                                                        </div>
                                                        <div class="row cartItemDetails">
                                                            <div class="col-md-4 col-sm-5 cartItemQuantity">
                                                                <button class="quantityButton">-</button>
                                                                <input class="quantityIndicator" value="{{value.quantity}}" readonly/>
                                                                <button class="quantityButton">+</button>
                                                            </div>
                                                            <div class="col-md-4 col-sm-4 cartItemRate">x{{value.price}}</div>
                                                            <div class="col-md-4 col-sm-3 text-right cartItemAmount">&#8377;{{value.price * value.quantity}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr class="cartItemSeperator">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="cartHr">
                            <div class="row cartFooter">
                                <div class="cartFooterInnerWrapper col-md-12">
                                    <div class="row cartSubtotal">
                                        <div class="col-md-6 col-sm-6">Subtotal</div>
                                        <div class="col-md-6 col-sm-6 text-right">&#8377;{{subtotal}}</div>
                                    </div>
                                    <div class="row cartConfirm">
                                        <div class="col-md-12">
                                            <button class="text-center confirmCartButton">Confirm Order</button>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 recommendedMenuItems">
                                        <div class="row recommended1">
                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                <span class="badge green">+ Coke</span>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <span class="badge green">+ Cheese French Fries</span>
                                            </div>
                                        </div>
                                        <div class="row recommended2">
                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                <span class="badge green">+ Coke</span>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <span class="badge red">+ Chicken Sandwich</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- cart ends -->
                </div>
            </div>
            <!--column one ends here-->

            <!--vertical line column start here-->
            <div class="col-md-1 hihidden-sm hidden-xs col-xs-1">
                <div class="row">
                    <div class="col-md-12 col-md-offset-1">
                        <p class="verticalLine"></p>
                    </div>
                </div>
            </div>
            <!--vertical line column ends here-->

            <!--column two starts here-->
            <div class="col-md-3 col-sm-5 col-sm-offset-1 col-md-offset-2 col-xs-10 col-xs-offset-1 mediaXsClass">
                <!--Track order row starts here-->
                <div class="row marginXsScreen">
                    <div class="trackOrderWrapper">
                        <div class="col-md-12">
                            <div class="row center-block">
                                <div class="row">
                                    <div class="col-md-10 col-sm-8 trackOrder">
                                        <div>Track Your Order</div>
                                    </div>
                                </div>
                                <div class="row trackOrderIcon">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <img class="iconTrackOrder" src="../../../assets/images/orderPlaced.svg" alt="orderPlacedIcon">
                                    </div>
                                    <div class="col-md-8 orderPlaced">
                                        <div class="orderPlacedWrapper">
                                            <div class="orderPlacedWrapperInner">
                                                Order Placed
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1 col-sm-1 col-xs-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 wrapVerticalLine">
                                        <div class="">
                                            <div class="verticalLineSteps"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <img class="iconTrackOrder" src="../../../assets/images/OrderPrepared.svg" alt="orderPlacedIcon">
                                    </div>
                                    <div class="col-md-8 orderPlaced">
                                        <div class="orderPreparedWrapper">
                                            <div class="orderPlacedWrapperInner">
                                                Prepared
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1 col-sm-1 col-xs-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 wrapVerticalLine">
                                        <div class="">
                                            <div class="verticalLineSteps"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <img class="iconTrackOrder" src="../../../assets/images/servedIcon.svg" alt="orderPlacedIcon">
                                    </div>
                                    <div class="col-md-8 orderPlaced">
                                        <div class="orderServedWrapper">
                                            <div class="orderPlacedWrapperInner">
                                                Served
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1 col-sm-1 col-xs-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 wrapVerticalLine">
                                        <div class="">
                                            <div class="verticalLineSteps"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <img class="iconTrackOrder" src="../../../assets/images/completeOrder.svg" alt="orderPlacedIcon">
                                    </div>
                                    <div class="col-md-8 orderPlaced">
                                        <div class="orderCompleteWrapper">
                                            <div class="orderPlacedWrapperInner">
                                                Complete Order
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Track order row starts here-->
            </div>
            <!--column two ends here-->
        </div>
        <!--row ends here-->
    </div>
</div>