body{
    background-color: whitesmoke;
}

.login-parent {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-image: url(../images/backgroundImage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo {
    margin: 0 auto;
    width: 50%;
}

.formInput {
    width: 100%;
    font-family: "Microsoft Sans Serif";
    color: rgba(2, 17, 44, 1.00);
    background: none;
    outline: none;
    border: none;
    border-bottom-style: solid;
    border-color: rgba(81, 81, 81, 0.47);
}

::-webkit-input-placeholder {
    color: rgba(2, 17, 44, 1.00);
}

#loginButton,
#orderInitButton {
    width: 100%;
    background-color: #05132c !important;
    color: white;
    font-family: "Microsoft Sans Serif";
    border-radius: 10px;
    border: none;
    outline: none;
}

#continueAsGuest {
    font-family: "Microsoft Sans Serif";
    color: rgba(2, 17, 44, 1.00);
    text-decoration: underline;
}

.verticalCenter {
    position: relative;
    -webkit-transform: perspective(1px) translateY(100%);
    transform: perspective(1px) translateY(100%);
}


/*service screen css starts*/
.serviceContainer{
    margin-top: 10rem;
}
.textElement h4 {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: .8em;
    color: #02112c;
    position: absolute;
    bottom: 10%;
}

.orderTab {
    height: 186px;
    width: 213px;
    color: white;
    font-family: "Open Sans";
    font-size: 24px;
}

.waitingTab {
    height: 186px;
    width: 213px;
    color: white;
    font-family: "Open Sans";
    font-size: 24px;
}
.serviceCard{
    box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.1);
}
/*service screen css ends*/


/*table status css starts*/


/*
.order-parent {
    background-color: #adadad;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
*/

.table {
    height: 98px;
    padding: 5%;
    background-color: white;
    box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.1);
}

.tableOccupied {
    background-color: #d3d3d3;
}

.tableAvailiable {}

.tableNo {
    width: 25%;
    text-align: center;
    font-size: 3em;
}

.tableDetail {
    border-left: 1px #05132c solid;
    padding-left: 3%;
}

.assignButton {
    padding: 0 0 !important;
    background-color: #52934f;
    margin-left: 18%;
    border-radius: 100px;
    width: 60%;
}

.tableFilter {
    text-align: left;
    color: white;
    background-color: #05132c;
    padding: 5%;
}

.tableFilterContainer {
    width: auto!important;
    margin: 1rem 0;
}


/*table status css ends*/


/*category screen css starts*/

.categoryContainer {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.categoryImg {
    margin: auto;
}

.categoryCaption {
    /*    font-size: 2.5vmin;*/
    /*    font-weight: 400;*/
}


/*category screen css ends*/


/*menu screen css starts*/
.categoryHeading{
    background-color: #05132c;
    color: white;
}
.menuItemName{
    border-bottom: 1px solid #05132c;
}
/*menu screen css ends*/

/*header CSS starts*/
.headerContainer{
    position: fixed;
    top:0;
    z-index: 1000;
    width: 100vw;
    margin: auto;
}
.screenHeader{
    margin-top: 70px;     /*margin affects service screen and order state*/
}
.screenHeader2{
    margin-top: 117px;    /*margin affects build order state*/
}
/*header CSS ends*/

/*Build Order State Header CSS Starts*/

.header {
    top: 0;
    width: 99%;
    height: 70px;
    background-color: white;
}

.menuTab {
    top: 3rem;
    height: 17px;
    background-image: url(../images/menu_tabIcon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


/*
.arrowClass {
font-size: 1.8vw;
}
*/

.lazyLogo {
    background-image: url(../images/logo_lazy_210.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 60px;
    top: .5rem;
}

.cart {
    top: 1.8rem;
    background-image: url(../images/cart-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 42px;
}

.header2 {
    background: #05132c;
    height: 47px;
}

.h4Text {
    font-family: open sans;
    color: #ffffff;
    font-size: 2.7vmin;
    text-align: center;
    text-decoration: none;
}

.topClass {
    top: .5rem;
}

.topClass a {
    text-decoration: none;
}


/*
.topClass a active {
color: #f12f63;
}
*/

.stage{
    color: #ffffff;
}

.currentStage {
    color: #f12f63;
}

.arrows {
    top: 1.5rem;
}


/*Build Order State Header CSS Ends*/


/*Order State Header CSS Ends*/

.user {
    top: 1.8rem;
    background-image: url(../images/user.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 42px;
}


/*Order State Header CSS Ends*/