.login-parent {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-image: url(../images/backgroundImage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo {
    margin: 0 auto;
    width: 50%;
}

.formInput {
    width: 100%;
    font-family: "Microsoft Sans Serif";
    color: rgba(2, 17, 44, 1.00);
    background: none;
    outline: none;
    border: none;
    border-bottom-style: solid;
    border-color: rgba(81, 81, 81, 0.47);
}

::-webkit-input-placeholder {
    color: rgba(2, 17, 44, 1.00);
}

#loginButton,
#orderInitButton {
    width: 100%;
    background-color: rgba(2, 17, 44, 0.65) !important;
    color: white;
    font-family: "Microsoft Sans Serif";
    border-radius: 10px;
    border: none;
    outline: none;
}

#continueAsGuest {
    font-family: "Microsoft Sans Serif";
    color: rgba(2, 17, 44, 1.00);
    text-decoration: underline;
}

.verticalCenter {
    position: relative;
    -webkit-transform: perspective(1px) translateY(100%);
    transform: perspective(1px) translateY(100%);
}


/*service screen css starts*/

.rowMargin {
    margin: 0%;
}

.serviceVerticalCenter {
    position: relative;
    -webkit-transform: perspective(1px) translateY(80%);
    transform: perspective(1px) translateY(80%);
}

serviceh4 {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 1.05em;
}

.order {
    -webkit-transform: translateY(280%);
    transform: translateY(280%);
}

.waiting {
    -webkit-transform: translateY(180%);
    transform: translateY(180%);
}

.orderIcon {
    -webkit-transform: translateY(80%);
    transform: translateY(80%);
}

.waitingIcon {
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
}

#orderTab {
    background-image: url(../images/background_blue.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 280px;
    width: 300px;
    color: white;
    font-family: "Open Sans";
    font-size: 24px;
}

#waitingTab {
    background-image: url(../images/background_blue.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 280px;
    width: 300px;
    color: white;
    font-family: "Open Sans";
    font-size: 24px;
}


/*service screen css ends*/


/*table status css starts*/

.table {
    height: 98px;
    padding: 5%;
    background-color: white;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.1);
}

.tableOccupied {
    background-color: #d3d3d3;
}

.tableAvailiable {}

.tableNo {
    width: 25%;
    text-align: center;
    font-size: 3em;
}

.tableDetailAvailable {
    border-left: 3px #52934f solid;
    padding-left: 5%;
}

.tableDetailOccupied {
    border-left: 3px #ff4f4f solid;
    padding-left: 5%;
}

.assignButton {
    padding: 0 0 !important;
    background-color: #52934f;
    margin-left: 18%;
    border-radius: 100px;
    width: 60%;
}

.tableFilter {
    text-align: left;
    color: white;
    background-color: #05132c;
    padding: 5%;
}

.tableFilterContainer {
    width: auto!important;
    margin: 1rem 0;
}


/*table status css ends*/


/*category screen css starts*/

.categoryh4 {
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 1.4em;
    color: white;
    -webkit-transform: translateY(390%);
    transform: translateY(390%);
}

#appetizers {
    background-image: url(../images/appetizers.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 206px;
    background-position: center;
    text-align: center;
}

#maincourse {
    background-image: url(../images/main_course.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 206px;
    text-align: center;
}

#pizza {
    background-image: url(../images/pizza%27z.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 206px;
    text-align: center;
}

#pasta {
    background-image: url(../images/pasta&rissoto.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 206px;
    text-align: center;
}

#sandwich {
    background-image: url(../images/sandwich.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 206px;
    text-align: center;
}

#soups {
    background-image: url(../images/soups.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 206px;
    text-align: center;
}

#salads {
    background-image: url(../images/salad.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 206px;
    text-align: center;
}

#dessert {
    background-image: url(../images/desserts.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 206px;
    text-align: center;
}

#waffles {
    background-image: url(../images/waffles.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 206px;
    text-align: center;
}

@media screen and (max-width: 991px) and (min-width: 320px) {
    .col-xs-margin {
        margin-bottom: 5%;
    }
}


/*category screen css ends*/


/*menu screen css starts*/

.topMargin {
    margin-top: 3%;
}

.name {
    width: 100%;
    background-image: url(../images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -0.2rem;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    color: #ee2e61;
}

.ovenBakedNachos {
    background-image: url(../images/ovenBakedNachos_213.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 186px;
}

.menuh4 {
    color: rgba(2, 17, 44, 1.00);
    /*    -webkit-font-smoothing: antialiased;*/
}

@media screen and (max-width: 991px) and (min-width: 320px) {
    .col-xs-margin {
        margin-bottom: 4%;
    }
}


/*menu screen css ends*/