@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
body {
    background-color: whitesmoke;
    font-family: open sans;
}


/*color css panel starts here*/

.green {
    background: #1dab76;
    border: 1px solid #1dab76;
    color: #1dab76;
}

.red {
    background: #cb202d;
    border: 1px solid #cb202d;
    color: #cb202d;
}


/*color css panel ends here*/

.login-parent {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-image: url(../images/backgroundImage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo {
    margin: 0 auto;
    width: 50%;
}

.formInput {
    width: 100%;
    font-family: "Microsoft Sans Serif";
    color: rgba(2, 17, 44, 1.00);
    background: none;
    outline: none;
    border: none;
    border-bottom-style: solid;
    border-color: rgba(81, 81, 81, 0.47);
}

::-webkit-input-placeholder {
    color: rgba(2, 17, 44, 1.00);
}

#loginButton,
#orderInitButton {
    width: 100%;
    background-color: #05132c !important;
    color: white;
    font-family: "Microsoft Sans Serif";
    border-radius: 10px;
    border: none;
    outline: none;
}

#continueAsGuest {
    font-family: "Microsoft Sans Serif";
    color: rgba(2, 17, 44, 1.00);
    text-decoration: underline;
}

.verticalCenter {
    position: relative;
    -webkit-transform: perspective(1px) translateY(100%);
    transform: perspective(1px) translateY(100%);
}


/*service screen css starts*/

.serviceContainer {
    margin-top: 10rem;
}

.textElement h4 {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: .8em;
    color: #02112c;
    position: absolute;
    bottom: 10%;
}

.orderTab {
    height: 186px;
    width: 213px;
    color: white;
    font-family: "Open Sans";
    font-size: 24px;
}

.waitingTab {
    height: 186px;
    width: 213px;
    color: white;
    font-family: "Open Sans";
    font-size: 24px;
}

.serviceCard {
    box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.1);
}


/*service screen css ends*/


/*table status css starts*/


/*
.order-parent {
    background-color: #adadad;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
*/

.table {
    height: 98px;
    padding: 5%;
    background-color: white;
    box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.1);
}

.tableOccupied {
    background-color: #d3d3d3;
}

.tableAvailiable {}

.tableNo {
    width: 25%;
    text-align: center;
    font-size: 3em;
}

.tableDetail {
    border-left: 1px #05132c solid;
    padding-left: 3%;
}

.assignButton {
    padding: 0 0 !important;
    background-color: #52934f;
    margin-left: 18%;
    border-radius: 100px;
    width: 60%;
}

.tableFilter {
    text-align: left;
    color: white;
    background-color: #05132c;
    padding: 5%;
}

.tableFilterContainer {
    width: auto!important;
    margin: 1rem 0;
}


/*table status css ends*/


/*category screen css starts*/

.categoryContainer {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.categoryImg {
    margin: auto;
}

.unavailableCategoryCaption {
    color: #a2a2a2;
}


/*category screen css ends*/


/*menu screen css starts*/

.categoryHeading {
    background-color: gainsboro;
    color: #05132c;
}

.menuItemName {
    border-bottom: 1px solid #05132c;
}

.asideCategory {
    background-color: gainsboro;
    color: #05132c;
}

.categoryAsideContainer {
    height: 100%;
    position: fixed;
    margin-top: 1rem;
}

.menuItemContainer {
    margin-top: 8rem;
    height: 70vh;
    overflow: auto;
}


/*Menu search*/


/*category header starts*/

.wrapper {
    width: 90%;
    height: 48px;
    display: inline-block;
    position: relative;
    /*    background: lightgrey;*/
    overflow: hidden;
}

.categoryNav {
    width: 1470px;
    height: auto;
}

.categoryNav a {
    line-height: 32px;
    /*    background: green;*/
    margin: .5em;
    display: inline-block;
}

.categoryNav #category_1: hover {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
}

.arrowRight {
    position: absolute;
    right: 0;
    margin-right: .2em;
    top: 10%;
}

.arrowLeft {
    position: absolute;
    left: 0;
    margin-left: .2em;
    top: 10%;
}


/*category header ends*/

.searchCategoryContainer {
    margin-top: 1rem;
    position: fixed;
    z-index: 9999;
}

#wrap {
    display: inline-block;
    position: relative;
    height: 48px;
    float: right;
    padding: 0;
    position: relative;
}

#search {
    height: 48px;
    font-size: 24px;
    display: inline-block;
    font-family: "open sans";
    font-weight: 100;
    border: none;
    outline: none;
    color: #555;
    padding: 3px;
    padding-right: 60px;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    -webkit-transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
}

#search:focus:hover {
    border-bottom: 1px solid #BBB;
}

#search:focus {
    width: 700px;
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
    background: white;
}

#search_submit {
    height: 48px;
    width: 63px;
    display: inline-block;
    color: red;
    float: right;
    font-size: 18px;
    background: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIzMnB4IiBoZWlnaHQ9IjMycHgiIHZpZXdCb3g9IjAgMCAxNiAxNiI+CjxwYXRoIGZpbGw9IiMwMDAwMDAiIGQ9Ik0xNS43IDE0LjNsLTQuMi00LjJjLTAuMi0wLjItMC41LTAuMy0wLjgtMC4zIDAuOC0xIDEuMy0yLjQgMS4zLTMuOCAwLTMuMy0yLjctNi02LTZzLTYgMi43LTYgNiAyLjcgNiA2IDZjMS40IDAgMi44LTAuNSAzLjgtMS40IDAgMC4zIDAgMC42IDAuMyAwLjhsNC4yIDQuMmMwLjIgMC4yIDAuNSAwLjMgMC43IDAuM3MwLjUtMC4xIDAuNy0wLjNjMC40LTAuMyAwLjQtMC45IDAtMS4zek02IDEwLjVjLTIuNSAwLTQuNS0yLTQuNS00LjVzMi00LjUgNC41LTQuNSA0LjUgMiA0LjUgNC41LTIgNC41LTQuNSA0LjV6Ii8+Cjwvc3ZnPgo=) center center no-repeat;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0.4;
    cursor: pointer;
    -webkit-transition: opacity .4s ease;
    transition: opacity .4s ease;
}

#search_submit:hover {
    opacity: 0.8;
}


/*Menu search*/


/*menu screen css ends*/


/*header CSS starts*/

.headerContainer {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100vw;
    margin: auto;
    background-color: white;
}

.screenHeader {
    margin-top: 70px;
    /*margin affects service screen and order state*/
}

.screenHeader2 {
    margin-top: 117px;
    /*margin affects build order state*/
}


/*header CSS ends*/


/*Build Order State Header CSS Starts*/

.header {
    top: 0;
    width: 99%;
    height: 70px;
    background-color: white;
}

.menuTab {
    top: 3rem;
    height: 17px;
    background-image: url(../images/menu_tabIcon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


/*
.arrowClass {
font-size: 1.8vw;
}
*/

.lazyLogo {
    background-image: url(../images/logo_lazy_210.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 60px;
    top: .5rem;
}

.cart {
    top: 1.8rem;
    background-image: url(../images/cart-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 42px;
}


/*
.header2 {
    background: #05132c;
    height: 47px;
}

.h4Text {
    font-family: open sans;
    color: #ffffff;
    font-size: 2.7vmin;
    text-align: center;
    text-decoration: none;
}

.topClass {
    top: .5rem;
}

.topClass a {
    text-decoration: none;
}
*/


/*
.topClass a active {
color: #f12f63;
}
*/


/*
.stage {
    color: #ffffff;
}

.currentStage {
    color: #f12f63;
}

.arrows {
    top: 1.5rem;
}*/


/*Build Order State Header CSS Ends*/


/*Order State Header CSS Ends*/

.user {
    top: 1.8rem;
    background-image: url(../images/user.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 42px;
}


/*Order State Header CSS Ends*/


/*Customisation Modal Css Starts*/

#addButton {
    background-color: #05132c !important;
    color: white;
    font-family: "Microsoft Sans Serif";
    border-radius: 10px;
    border: none;
    outline: none;
}

.priceAndQuantity {
    background-color: whitesmoke;
}

.price {
    font-size: 2.2rem;
    padding: 1rem;
}

.quantityWrapper {
    padding: 1rem;
}

.quantityValue {
    width: 4rem;
    text-align: center;
}

.customisationComment {
    width: 100%;
    height: 8rem;
    resize: none;
}


/*Customisation Modal Css Ends*/


/*cart css starts*/

.cartContainer {
    position: fixed;
    right: 0;
}

.cartSegment {
    background: white;
    height: 650px;
    overflow: auto;
    border-radius: 10px;
}

.yourOrder {
    position: relative;
    top: 15px;
}

.itemDetails {
    display: inline-block;
}

.dishType {
    position: relative;
    top: 0px;
}

.marginCol {
    margin-bottom: 1%;
}

.dishName {
    font-family: open sans;
    font-size: larger;
    color: #02102b;
}

.cartSummary {
    border: 1px solid #d8d8d8;
    border-right: none;
    border-left: none;
    margin-top: 2em;
    padding: 14px 0px 14px;
}

.quantityField {
    background: #01112a;
    color: white;
    width: 20px;
    text-align: center;
    font-family: open sans;
    font-size: 14px;
    border: .5px solid #01112a;
    border-radius: 4px;
}

.buttons {
    color: #01112a;
    background: white;
    border: 1px solid #01112a;
    border-radius: 4px;
    width: 20px;
}

.priceOrignal {
    color: grey;
}

.subTotalAmt {
    position: absolute;
    margin-top: 55%;
}

.side-bar-bottom {
    position: fixed;
    bottom: 0;
}

.amount .subtotalAmt {
    font-family: open sans;
    color: #01112a;
}

.amount {
    font-family: open sans;
    color: #01112a;
    font-weight: 500;
}

.textArea {
    resize: none;
    width: 270px;
}

.confirmOrder {
    font-family: open sans;
    background: #1dab76;
    color: white;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-left: .8em;
    bottom: 0em;
    width: 100%;
}


/*cart css ends*/


/*user info row starts*/

.userInfo_header {
    background: #e7e7e7;
    width: 100%;
    height: 50px;
}

.name {
    font-family: open sans;
    color: #0c6aa7;
    line-height: 50px;
    text-align: center;
}

.border {
    border-style: solid;
    border-width: 0.5px;
    border-bottom: none;
    border-top: none;
    border-color: #b6b6b6;
}


/*user info row ends*/


/*track order css starts*/

.contentRow {
    margin-top: 2rem;
}

#wrap {
    display: inline-block;
    position: relative;
    height: 20px;
    float: right;
    padding: 0;
    position: relative;
}

#search {
    height: 20px;
    font-size: 24px;
    display: inline-block;
    font-family: "open sans";
    font-weight: 100;
    border: none;
    outline: none;
    color: #555;
    padding: 3px;
    padding-right: 60px;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    -webkit-transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
}

#search:focus:hover {
    border-bottom: 1px solid #BBB;
}

#search:focus {
    width: 500px;
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
    background: white;
}

#search_submit {
    height: 20px;
    width: 63px;
    display: inline-block;
    color: red;
    float: right;
    font-size: 18px;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0.4;
    cursor: pointer;
    -webkit-transition: opacity .4s ease;
    transition: opacity .4s ease;
}

#search_submit:hover {
    opacity: 0.8;
}

.hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.quantityButton {
    text-align: center;
    padding: 0 5px;
    width: 25px;
    color: #01112a;
    background: white;
    border: 1px solid #01112a;
    border-radius: 4px;
}

.quantityIndicator {
    background: #01112a;
    color: white;
    width: 20px;
    text-align: center;
    font-size: 14px;
    border: .5px solid #01112a;
    border-radius: 4px;
}

.secondCartSection {
    overflow: auto;
}

.cartItemRate {
    color: grey;
}

.cartItemAmount,
.cartSubtotal {
    color: #01112a;
}

.subTotal {
    margin-left: 1.5rem;
}

.innerPanel {
    margin-left: 1rem;
}

.updateCartButton {
    height: 30px;
    margin-top: 1rem;
    border-radius: 5px;
    background-color: #1dab76;
    outline: none;
    border: none;
    color: white;
    font-family: open sans;
    text-align: center;
    width: 100%;
}

.recommendedItems {
    margin-top: 2rem;
}

.recommendedMenuItems {
    margin-top: 2rem;
}

.recommended2 {
    margin-top: 1rem;
}

.badge {
    background: white;
}

.verticalLine {
    height: 420px;
    border-right: 1px solid #cfcfcf;
    margin-top: 8rem;
}

.verticalLineSteps {
    margin-top: .5em;
    margin-bottom: .5em;
}


/**/

@media screen and (max-width: 767px) {
    .mediaXsClass {
        margin-top: 2rem;
        border-top: 2px solid #c1c1c1;
    }
    .marginXsScreen {
        margin-top: 2rem;
    }
}


/**/

.trackOrder {
    font-weight: 500;
    text-align: center;
}

.trackOrderIcon {
    margin-top: 1.5em;
}

.iconTrackOrder {
    height: 60px;
}

.iconTrackOrder {
    fill: #1dab76;
}

.wrapVerticalLine {
    margin-left: 29px;
}

.verticalLineSteps {
    width: 2px;
    height: 75px;
    background: #c2c1c1;
}

.orderPlaced {
    height: 60px;
}

.orderPlacedWrapper,
.orderPreparedWrapper,
.orderServedWrapper,
.orderCompleteWrapper {
    line-height: 60px;
}


/*track order css ends*/


/* feedback screen css starts here */

.wrapperFeed {
    margin-top: 5rem;
}

.feedQues {
    margin-top: 3rem;
}

.feedback {
    font-weight: lighter;
    font-size: 36px;
    color: #05132c;
}

.welcomeLine {
    font-size: 24px;
    color: #05132c;
    font-weight: lighter;
}

.starRating {
    height: 35px;
}

.questionWrapper {
    background-color: white;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
}


/****** Style Star Rating Widget starts *****/

.rating {
    border: none;
    float: left;
}

.rating > input {
    display: none;
}

.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}


/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label,

/* show gold star when clicked */

.rating:not(:checked) > label:hover,

/* hover current star */

.rating:not(:checked) > label:hover ~ label {
    color: #1dab76;
}


/* hover previous stars in list */

.rating > input:checked + label:hover,

/* hover current star when changing rating */

.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,

/* lighten current selection */

.rating > input:checked ~ label:hover ~ label {
    color: #1dab76;
}


/****** Style Star Rating Widget ends *****/

.questionNumOne,
.questionNumTwo,
.questionNumThree,
.questionNumFour,
.additionalComments,
.submitButton {
    margin-top: 2rem;
}

.additionalFeedback {
    width: 100%;
    resize: none;
    height: 100px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: none;
    overflow: auto;
    border: 2px solid lightgrey;
}

.submitFeedbackButton {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    background: #1dab76;
}


/* feedback screencss ends here    */